<div class="gallery">
  <h1 class="gallery__title">Image Gallery</h1>
  <div class="gallery__body" *ngIf="!loading" >
    <div *ngFor="let img of images">
      <img src="{{img.src}}">
      <label>{{img.name}}</label>
    </div>
  </div>
  <div class="loading-section">
    <div class="loading-section__icon"></div>
  </div>
  <div class="gallery__file-upload">
    <div class="input-file">
      <input type="file" name="file" id="file" (change)="fileSelected($event)">
      <label for="file">{{fileLabel}}</label>
    </div>
  </div>
</div>

<button (click)="logImages()">Log Images</button>
