<div class="gallery">
  <h1 class="gallery__title">Image Gallery</h1>
  <div class="gallery__body" *ngIf="!loading" >
    <div class="gallery__image" *ngFor="let img of images">
      <img [src]="img.src">
      <label class="delete" (click)="deleteImage(img.name)">Delete</label>
    </div>
  </div>
  <div class="loading-section" *ngIf="loading">
    <div class="loading-section__icon"></div>
  </div>
  <form class="gallery__file-upload" (submit)="uploadImage()">
    <div class="input-file">
      <input type="file" name="file" id="file" (change)="fileSelected($event)">
      <label for="file">Add Image</label>
    </div>

    <div class="gallery__image" *ngIf="fileDataUri">
      <img [src]="fileDataUri">
      <label>{{fileLabel}}</label>
    </div>
    <p>{{errMsg}}</p>

    <div *ngIf="fileDataUri">
      <input class="btn-primary" type="submit">
    </div>
  </form>
</div>
