@import "../../../assets/mixins";

.home-splash {
  position: relative;
  height: 100vh;
  text-align: center;
  @include bg-gradient;

  &:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }

  .home-splash__content {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;

    .home-splash__title {
      font-size: 16vw;
      font-weight: 700;
    }
  }
}

.flex-container {
  display: flex;

  .flex-container__item {
    width: 0;
    min-height: 300px;
    flex-grow: 3;
    flex-shrink: 3;
    background: #cccccc;
    @include transition(all 400ms);

    &:hover {
      flex-grow: 5;
      background: darken(#cccccc, 10);
      @include transition(all 400ms);
    }

    &:nth-of-type(1) {
      background: $color-primary;

      &:hover {
        background: darken($color-primary, 15);
      }
    }
    &:nth-of-type(2) {
      background: $color-secondary;

      &:hover {
        background: darken($color-secondary, 15);
      }
    }
  }
}

.page-body {

  .page-body__content {
    max-width: 900px;
    margin: 50px auto;
  }
}
