@import "../../../assets/mixins";

.home-splash {
  @include vertical-center-container;
  height: 100vh;
  text-align: center;
  @include bg-gradient;

  &:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }

  .home-splash__content {
    @include vertical-center-content;

    .home-splash__title {
      font-size: 16vw;
      font-weight: 700;
    }
  }
}

.flex-container {
  display: flex;

  .flex-container__item {
    min-height: 400px;
    width: 0;
    flex-grow: 3;
    flex-shrink: 3;
    @include transition(all 400ms);
    padding: 40px;
    text-align: center;

    &:hover {
      flex-grow: 5;
      @include transition(all 400ms);
    }

    &:nth-of-type(1) {
      background: lighten($color-primary, 15);

      &:hover {
        background: darken($color-primary, 15);
      }
    }
    &:nth-of-type(2) {
      background: lighten($color-secondary, 15);

      &:hover {
        background: darken($color-secondary, 15);
      }
    }
  }
}

.image-divider {
  @include vertical-center-container;
  height: 300px;
  text-align: center;
  background: $primary-dk fixed center center no-repeat;
  background-size: cover;

  .image-divider__content {
    @include  vertical-center-content;
    color: #ffffff;
  }
}

.testimonial__frame {
  padding: 80px;
  @include bg-gradient;
}

.testimonial {
  @include vertical-center-container;
  height: 500px;
  background: #ffffff;
  border: 3px solid black;
  outline: 80px solid transparent;
  padding: 50px;
  text-align: center;

  .testimonial__content {
    @include vertical-center-content;
  }
}


.page-body {

  .page-body__content {
    max-width: 900px;
    margin: 50px auto;
  }
}
