
<div class="home-splash">
  <div class="home-splash__content">
    <span class="home-splash__title">{{getContent('splashTitle')}}</span>
  </div>
</div>

<div class="flex-container">
  <div class="flex-container__item" [innerHtml]="getContent('sectionOne')"></div>
  <div class="flex-container__item" [innerHtml]="getContent('sectionTwo')"></div>
</div>

<div class="image-divider" [style.backgroundImage]="getUrl( getContent('imageInput') )">
  <div class="image-divider__content" [innerHtml]="getContent('imageSection')"></div>
</div>

<div class="testimonial__frame">
  <div class="testimonial">
    <div class="testimonial__content" [innerHtml]="getContent('testimonial')"></div>
  </div>
</div>
