
<div class="home-splash">
  <div class="home-splash__content">
    <span class="home-splash__title">CONTENT</span>
  </div>
</div>

<div class="flex-container">
  <div class="flex-container__item">
    <h2>Bomb-ass web dev</h2>
    <p>Squid wolf ethical hoodie polaroid selfies activated charcoal kombucha lo-fi. Church-key knausgaard actually typewriter semiotics lyft lo-fi, gastropub chartreuse squid pickled 8-bit. Adaptogen craft beer shoreditch, distillery meggings live-edge taxidermy food truck offal palo santo.</p>
  </div>
  <div class="flex-container__item">
    <h2>Easy to manage</h2>
    <p>Super simple to update.  A caveman could do it. Williamsburg single-origin coffee church-key pok pok unicorn farm-to-table wayfarers forage cray crucifix. Vape 8-bit lyft, XOXO fanny pack man braid slow-carb fam try-hard pour-over woke.</p>
  </div>
</div>

<div class="image-divider">
  <div class="image-divider__content">
    <h3>TBH it's mediocre at best</h3>
    <p>But we try pretty hard anyway even though it's not the bomb as previously claimed.</p>
  </div>
</div>

<div class="testimonial__frame">
  <div class="testimonial">
    <div class="testimonial__content">
      <h2>Not bad</h2>
      <p>Some of the things he does aren't terrible.</p>
    </div>
  </div>
</div>

<p>
  home-view works!
</p>
