
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin box-shadow($inp...) {
  -webkit-box-shadow: $inp;
  -moz-box-shadow: $inp;
  box-shadow: $inp;
}

@mixin bg-gradient() {
  background: #BE93C5;
  background: -webkit-linear-gradient(to right bottom, #7BC6CC, #BE93C5);
  background: linear-gradient(to right bottom, #7BC6CC, #BE93C5);
}

@mixin mat-icon-font() {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
