@import "variables";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin box-shadow($inp...) {
  -webkit-box-shadow: $inp;
  -moz-box-shadow: $inp;
  box-shadow: $inp;
}

@mixin bg-gradient() {
  background: #BE93C5;
  background: -webkit-linear-gradient(to right bottom, $color-secondary, $color-primary);
  background: linear-gradient(to right bottom, $color-secondary, $color-primary);
}

@mixin card-shadow-mixin() {
  @include box-shadow($card-shadow);
}

@mixin vertical-center-container() {
  position: relative;

  &:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }
}

@mixin vertical-center-content() {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  max-width: 95%;
}

@mixin mat-icon-font() {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@mixin transition($inp...) {
  -webkit-transition: $inp;
  -moz-transition: $inp;
  -ms-transition: $inp;
  -o-transition: $inp;
  transition: $inp;
}
