
<div class="button-container">
  <button (click)="post.toggleMode('edit')" [ngClass]="{selected: post.mode === 'edit'}">Edit</button>
  <button (click)="post.toggleMode('default')" [ngClass]="{selected: post.mode === 'default'}">Split</button>
  <button (click)="post.toggleMode('preview')" [ngClass]="{selected: post.mode === 'preview'}">Preview</button>
</div>

<div class="page-editor">

  <div class="page-editor__section page-editor--edit" [@editTrigger]='post.mode'>
    <div class="content" [@isVisible]='post.isEditVisible()'>
      <h4>Title</h4>
      <input type="text" title="title" value="Page Title" [(ngModel)]="post.title">

      <h4>Content</h4>
      <app-quill [(editorContent)]='post.content'></app-quill>
    </div>
  </div>

  <div class="page-editor__section page-editor--preview" [@previewTrigger]='post.mode'>
    <div class="content" [@isVisible]='post.isPreviewVisible()'>
      <app-homepage-view [post]='post'></app-homepage-view>
    </div>
  </div>

</div>

<div class="button-container">
  <button (click)='setPost()'>Save</button>
</div>
