
<div class="button-container">
  <button class="btn-default" (click)="page.toggleMode('edit')" [ngClass]="{selected: page.mode === 'edit'}">Edit</button>
  <button class="btn-default" (click)="page.toggleMode('default')" [ngClass]="{selected: page.mode === 'default'}">Split</button>
  <button class="btn-default" (click)="page.toggleMode('preview')" [ngClass]="{selected: page.mode === 'preview'}">Preview</button>
</div>

<div class="page-editor">

  <div class="page-editor__section page-editor--edit" [@editTrigger]='page.mode'>
    <div class="content" [@isVisible]='page.isEditVisible()'>
      <h4>Title</h4>
      <input type="text" title="title" value="Page Title" [(ngModel)]="post.title">


      <div *ngFor="let contentBlock of post?.contentBlocks">
        <div [ngSwitch]="contentBlock?.inputType">
          <h4>{{contentBlock?.displayName || contentBlock?.id}}</h4>
          <div *ngSwitchCase="'text'">
            <input title="{{contentBlock.id}}" type="text" value="{{contentBlock.content}}">
          </div>
          <div *ngSwitchCase="'wysiwyg'">
            <app-quill [(editorContent)]='contentBlock.content'></app-quill>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-editor__section page-editor--preview" [@previewTrigger]='page?.mode'>
    <div class="content" [@isVisible]='page?.isPreviewVisible()'>
      <div [ngSwitch]="post?.postType">
        <div *ngSwitchCase="'home'">
          <app-home-view></app-home-view>
        </div>
        <div *ngSwitchDefault>
          <app-generic-view [post]='post'></app-generic-view>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="button-container">
  <button class="btn-default" (click)='setPost()'>Save</button>
</div>

<hr>

<button class="btn-default" (click)="logPost()">Log Post</button>


<hr>
