@import '../../../assets/variables';
@import '../../../assets/mixins';

.button-container {
  text-align: center;
  padding: 20px 0;
}

.page-editor {
  background-color: $primary-lt;
  display: flex;

  .page-editor__section {
    width: 0;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    background-color: white;
    @include box-shadow($card-shadow);
    @include border-radius(3px);
  }

  .page-editor--edit {

    h4 {
      margin-bottom: 6px;
    }

    textarea, input {
      width: 100%;
    }
  }

  .page-editor--preview {
    text-align: center;
  }
}
