
.button-container {
  text-align: center;
  padding: 20px 0;
}

.page-editor {
  background: #CCCCCC;
  display: flex;

  .page-editor__section {
    width: 0;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
  }

  .page-editor--edit {
    background: #999999;

    h4 {
      margin-bottom: 6px;
    }

    textarea, input {
      width: 100%;
    }
  }

  .page-editor--preview {
    background: #EEEEEE;
    text-align: center;
  }
}
