<div style="text-align:center">
  <h1>
    Welcome to {{post.title}}!
  </h1>
</div>

<hr>

<div class="button-container">
<button (click)="post.toggleMode('edit')">Edit</button>
<button (click)="post.toggleMode('default')">Split</button>
<button (click)="post.toggleMode('preview')">Preview</button>
</div>

<div class="page-editor" (click)="post.test()">

  <div class="page-editor__section page-editor--edit" [@editTrigger]='post.mode'>
    <div class="content" [@isVisible]='post.isEditVisible()'>
      <h3>Title</h3>
      <input type="text" title="title" value="Page Title" [(ngModel)]="post.title">

      <h3>Content</h3>
      <textarea title="content" id="" cols="30" rows="10" placeholder="Content" [(ngModel)]="post.content"></textarea>
    </div>
  </div>

  <div class="page-editor__section page-editor--preview" [@previewTrigger]='post.mode'>
    <div class="content" [@isVisible]='post.isPreviewVisible()'>
      <h3>{{post.title}}</h3>
      <p>{{post.content}}</p>
    </div>
  </div>

</div>
