
.hidden {
  visibility: hidden;
}

.page-editor {
  background: #CCCCCC;
  display: flex;

  .page-editor__section {
    width: 0;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
  }

  .page-editor--edit {
    background: #999999;

    textarea, input {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .page-editor--preview {
    background: #EEEEEE;
    text-align: center;
  }
}
